<div style="background-color:#f5f4f4;padding:10px;margin-top:10px;">
{% assign comments = site.data.comments | sort %}

{% for comment in comments reversed %}
  {% assign commentData = comment[1] %}
    <div>
      {{ commentData.message }}</br>
      From: {{ commentData.name }}</br>
      {{ commentData.date | date_to_long_string }}
    </div>
{% endfor %}
<div class="alert alert-primary hidden" role="alert" id="send_success">
  سپاس، کامنت شما دریافت شد و بعد از تایید نمایش داده خواهد شد.
</div>
<form id="comment-form" method="post" action="https://api.staticman.net/v2/entry/mdp66/mdp66.github.io/master/comments">
  <fieldset>
    <label for="comment-form-message">متن</label>
    <p><textarea type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1" style="width:100%"></textarea></p>
  </fieldset>
  <fieldset>
    <label for="comment-form-name">نام</label>
    <p><input type="text" id="comment-form-name" name="fields[name]" tabindex="2" style="width:100%" /></p>
  </fieldset>
  <fieldset>
    <label for="comment-form-email">پست الکترونیکی</label>
    <p><input type="email" id="comment-form-email" name="fields[email]" tabindex="3" style="width:100%" /></p>
  </fieldset>
  <fieldset>
    <label for="comment-form-url">وبسایت</label>
    <p><input type="url" id="comment-form-url" name="fields[url]" tabindex="4" style="width:100%"/></p>
  </fieldset>
  <fieldset class="hidden" style="display:none;">
    <!-- used by Staticman to generate filenames for each comment -->
    <input type="hidden" name="options[slug]" value="{{ page.slug }}">
    <!-- honey pot field used to filter out spam -->
    <label for="comment-form-location">Not used. Leave blank if you are a human.</label>
    <p><input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off" style="width:100%"/></p>
  </fieldset>
  <fieldset>
    <button type="submit" id="comment-form-submit"  class="btn btn-success" tabindex="5">ارسال</button>
  </fieldset>
</form>
</div>
  <!-- End new comment form -->
